//- index.jade
extends header.pug

block pageID 
	-var pageID = 'page'
	-var pageClasses = 'page'
	-var title = 'Pàgina tìtulo'
	-var descripcion = 'Descripción index'
	
		
//- 
	Las etiquetas de Open Graph y Twitter Cards se imprimen por
	default en header.pug Utiliza "block openGraph" y "block twitterCards"
	solo si ésta página requiere personalizar esas etiquetas.
	
	block openGraph
		meta(property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:type" content="article")
		meta(property="og:image" content=url + '/rutaImagen.png')

	block twitterCards
		meta(name="twitter:card" content="summary_large_image")
		//- $twitterUser se define en pug/_vars.pug
		meta(name="twitter:site" content='@' + twitterUser)
		meta(name="twitter:creator" content='@' + twitterUser)
		meta(name="twitter:title" content="")
		meta(name="twitter:description" content="")
		meta(name="twitter:image" content=url + 'img/rutaImagen.png')
		
block content
	
	p contenido sss
		
	include footer.pug
